These are the classes I have taken at the iSchool: 
<ul>
  <% ['Database Management', 'Information Architecture', 'Understanding Research', 'Intro to Programming', 'Understanding and Serving Users', 'Social Media'].each do |course| %>
    <li><%= course %></li>
  <% end %>
  </ul>
I will be taking these classes:
<ul>
  <% ['Usability', 'Advance Usability', '2 more Core classes', 'Data Visualization'].each do |future_course| %>
    <li><%= future_course %></li>
  <% end %>
  </ul>
