These are the classes I have taken at the iSchool: 
<ul>
  <% ['Database Management', 'Information Architecture', 'Understanding Research', 'Intro to Programming', 'Understanding and Serving Users', 'Social Media'].each do |course| %>
    <li><%= course %></li>
  <% end %>
</ul>